@import "tailwindcss";

@keyframes mobileColorChange {
  0%, 100% { background-color: #60a5fa; } /* blue-400 */
  50% { background-color: #f472b6; } /* pink-400 */
}

.animate-mobileColorChange {
  animation: mobileColorChange 4s ease-in-out infinite;
}
