<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="player-info">
  <h2 id="cancion">Cargando...</h2>
  <p id="artista"></p>
  <p id="album"></p>
  <img id="imagen" src="" width="200">
</div>

<script>
async function actualizar() {
  try {
    const response = await fetch('/estado');
    const data = await response.json();

    if (data.status) {
      document.getElementById('cancion').textContent = data.status;
      document.getElementById('artista').textContent = '';
      document.getElementById('album').textContent = '';
      document.getElementById('imagen').src = '';
    } else {
      document.getElementById('cancion').textContent = data.cancion;
      document.getElementById('artista').textContent = 'Artista: ' + data.artista;
      document.getElementById('album').textContent = 'Álbum: ' + data.album;
      document.getElementById('imagen').src = data.imagen_album;
    }
  } catch (err) {
    console.error("Error actualizando estado:", err);
  }
}

// Actualiza cada 5 segundos :))))))
setInterval(actualizar, 5000);
actualizar();
</script>

</body>
</html>